.wrapper {
    padding: 50px 0;
    font-family: 'Nunito', sans-serif;
}

.asset-summary {
    background: #F8F8F8;
    padding: 30px 0;
}

.asset-summary .info {
    color: #777777;
}

.info {
    font-size: 10pt;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: #D4D4D4;
}

.asset-summary-left {
    font-weight: bold;
}

.asset-summary-right {
    text-align: right;
}

.asset-builder {
    margin: 50px 0;
}

.asset-picker {
    background: #F8F8F8;
    padding: 20px;
    list-style: none;
    margin: 0;
    height: 500px;
    overflow: scroll;
    border-radius: 5px;
}

.asset-preview {
    padding: 20px;
    list-style: none;
    margin: 0;
}

li.asset {
    background: #FFF;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

li.asset h2 {
    color: #FFFFFF;
    font-size: 12pt;
}

li.asset p {
    margin: 0;
}

li.type-article {
    background: #131540;
}

li.type-document {
    background: #D4AE00;
}

li.type-video {
    background: #F14B5A;
}

li.type-course {
    background: #AA11AA;
}

button.remove-asset {
    position: absolute;
    top: 2px;
    right: 2px;
    -webkit-appearance: none;
    border: transparent;
    background: transparent;
    color: #FFFFFF;
    font-weight: bold;
    width: 26px;
    height: 26px;
    line-height: 0px;
    padding: 0;
    cursor: pointer;
}

button.remove-asset:focus {
    outline: none;
}
